.App {
  text-align: center;
}
.home {
  display: flex;
}
/* .container__app {
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .container__app {
    display: flex;
    flex-direction: column;
  }
} */
